.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
  
  .button.alternative:hover,
  .alternative:active {
    background-color: #ddb3f8;
  }